/* code dhh - @configbug */
body {
font-size:12px;
    background: #f9f9f9;
}

body.loginProvias {
  background: url(../img/fondoLogin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.loginMenuManager {
  background: url(../img/fondoMenuManager.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resolutionOff {
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
    text-transform: uppercase;
}
fieldset.dhhBorder {
    border: 1px solid #ddd;
    padding: 0 15px 5px 15px;
    margin: 0 0 15px 0;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 5px;
}
legend.dhhBorder {
    font-size: 14px;
    text-align: left;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.paginationDHH {
    display: inline-block;
    float: right;
}
    .paginationDHH .firstPagination, .paginationDHH .middlePagination, .paginationDHH .lastPagination {
        float: left;
        clear: right;
    }
        .paginationDHH .firstPagination ul, .paginationDHH .middlePagination ul, .paginationDHH .lastPagination ul {
            margin: 0;
        }
    .paginationDHH .firstPagination ul li:last-child a {
        border-radius: 0;
    }
    .paginationDHH .middlePagination ul li:first-child a, .paginationDHH .middlePagination ul li:last-child a {
        border-radius: 0;
    }
.paginationDHH .lastPagination ul li:first-child a {
    border-radius: 0;
}

.paginationDHH div.middlePagination > ul.pagination-sm > li > a, .paginationDHH div.middlePagination > ul.pagination-sm > li > span {
    padding: 5px 0 !important;
    font-size: 12px;
    width: 32px;
    text-align: center;
}
.breadcrumb li a i::after, .breadcrumb li i::after {
    content: "\00a0";
}

.panel-heading {
    padding: 5px;
    text-align:center;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
	text-align:center;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.modal .modal-dialog .modal-content .modal-header {
    background:#337ab7;
    border-radius:4px 4px 0 0;
}

.modal .modal-dialog .modal-content .modal-header .modal-title{
   color:#fff;
   letter-spacing:1px;
   text-shadow:0 1px 1px #555;
}
.modal .modal-dialog .modal-content .modal-header .modal-title i::after{
  content: "\00a0";
}

/*.form-group > label.small {
    font-size: 75%;
}*/
#ui-datepicker-div {
    font-size: 11px;
}
.ui-autocomplete {
    border-radius: 0 0 5px 5px;
    padding: 4px;
    font-size: 11px;
}
img.ui-datepicker-trigger {
    vertical-align: bottom;
}
/*button i::after {
    content: "\00a0";
}*/
@media only screen and (max-width: 1035px) {
    
}

@media only screen and (max-width: 985px) {
    
}

@media only screen and (max-width: 935px) {    
    
}

@media only screen and (max-width: 885px) {    
     
}

@media only screen and (max-width: 768px) {    
     #menuTop
    {
        background: #fff !important;
    }
}

@media only screen and (max-width: 600px) {    
    #menuLeft
    {
        display:block !important; 
        width:100% !important; 
        position:static !important;
            margin: -20px 0 20px 0;
    }
    ul.menuDHH
    {
        margin-top:10px !important;
        }
    #contentRight
    {
        padding-left: 0 !important;
    }
    .arrowColapse
    {
        display:none !important;
        }
}

.arrowColapse
{
    color:#337ab7;
    border-radius:10px;
    position:absolute;
    left:208px;
    cursor:pointer;
    top:340px;
    z-index:11;
    display:block;
    }
.titlePage{
	font-size:15px;
	font-weight:bold;
	background:#337ab7;
	padding:10px;
	border-radius:0 10px 10px 0;
	color:#fff;
	margin:-10px 0 10px 0
	}
.titlePage:before{	
    content:'\f0f6';
font-family:FontAwesome;
padding-right:5px
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


footer.footer
{
    display:block;
    padding:30px 0;
    border-top:2px dashed #ddd;
    text-align:center;
    margin-top:20px;
    }
@media only screen and (max-width: 479px) {
    /*.resolutionOff {
    display:block;
    }*/
}

.dropdown i:after
{
    content:'\00a0'
    }

ul.menuDHH
{
    padding:0;
    margin:10px 0 0 0;
    list-style:none;
}
ul.menuDHH li
{
    padding:10px;
    border-bottom:1px solid #ddd;
    color:#555;
    position:relative
    }
ul.menuDHH li i.floatRight
{
    float:right;
    color:#ccc;
    padding-top:3px
    }
ul.menuDHH li:hover
{
    background:#0080c0;
    color:#fff;
    cursor:pointer;
    }
ul.menuDHH li:hover > a
{
    color:#fff;
    cursor:pointer;
    }    
ul.menuDHH li ul.subMenuDHH, ul.menuDHH li ul.subMenuDHH li ul.subMenuDHH
{
    display:none;
    position:absolute;
    background:#fff;
    padding:0;
    margin:0;
    list-style:none;
    min-width:200px;
    top:37px;
    left:20px;
    z-index:12;
    box-shadow:0 0 5px #bbb;
    border:1px red #555 
    }
ul.menuDHH li:hover ul.subMenuDHH, ul.menuDHH li:hover ul.subMenuDHH li:hover ul.subMenuDHH
{
    display:block;
	z-index:20;
    }
ul.menuDHH li i:after
{
    content:'\00a0'
    }
    
.separatorPage-dhh
{
    height: 4px;
    background: #ffc100;
    display: block;    
    margin-top: -20px;
    margin-bottom: 20px;
    }

.mt30
{
    margin-top:30px
    }
#menuLeft
{
    width: 220px; 
    position: absolute; 
    background: #F3F3F3; 
    z-index: 10;
    padding:0 20px 0 20px;
    top: 56px;
    height:auto
}
#menuTop
{
    position: relative;
    z-index: 100;
    background: transparent;
    }
#contentRight
{
    padding-left: 220px;
    }
    
a.navbar-brand:after
{
    content:'| REGISTRO DE DEPOSITOS';
    color:#222;
    font-size:30px;
    font-weight:bold;
    position:absolute;
    left:185px;
    top:16px;
    vertical-align:middle
    }
table.table thead
{
    background:#337ab7;
    color:#fff
    }
.spanCheckbox
{
    display: inline-block;
    vertical-align: super;
    }
#inputDNI
{
    cursor:pointer;
    }    

.optionMenuManager
{
    width:100%;
    padding: 20px 10px;
    color:#333;
    text-transform:uppercase;
    border-top:3px solid transparent;
    margin-bottom:10px;
    cursor:pointer;
    background:#fff
    }
.optionMenuManager:before
{
    font-family:'FontAwesome';
    content:'\f0f6';
    margin-right:5px
    }    
.optionMenuManager:hover
{
    background:rgba(255,251,195,1);
    border-top:3px solid #31abf0;
    box-shadow:0 0 4px #aaa;
    }    
    
.optionMenuManager2
{    
    background: rgb(242,242,242);
    border: 1px solid rgba(150,150,150,0.3137254901960784);
    border-radius: 2px;
    padding: 5px;
    line-height: 100%;
    width: 100%;
}
    .optionMenuManager2 .contenido
    {
        background: #fff;
    margin-top: 6px;
    height: 114px;
    /*padding: 5px;*/
    }
    .optionMenuManager2 .contenido .imgMenu
    {
       width:100%
    }
.optionMenuManager2:before
{
    font-family:'FontAwesome';
    content:'\f0f6';
    margin-right:5px;
    margin-top:35px;
    }    
.optionMenuManager2:hover
{
    background:rgba(255,251,195,1);
    border-top:3px solid #31abf0;
    box-shadow:0 0 4px #aaa;
    }      
/* end code dhh - @configbug */    


.input-validation-error {
    border: 1px solid #a94442;
    /*background-color: #fee;*/
}